.home{
    display: flex;
    background-color: #f8f9fa;
    justify-content: center;
    width: 100vw;
    padding: 40px;
}

.home .image{
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 80%;
    height: 650px;
    position: relative;

}

.home .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home .image::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.home .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    text-align: center;
    text-wrap: wrap;
    height: 500px;
    position: absolute;
    z-index: 2;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}